* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navBar{
    background-color:#7f32a8;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px 20px;
    margin-top: 10vh;
    border-radius: 8px;
    margin-bottom: 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.taskBtn{
    background-color: #c06fde;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    border-radius: 8px 5px 5px 8px;

}
.addTaskBtn{
    background-color: #c06fde;
    color: white;
    padding: 10px;
    border-radius: 5px 8px 8px 5px;
    font-weight: bold;
    font-size: larger;
}
.taskStats{
    padding: 10px;
}
.stat{
    font-size:x-large;
    font-weight: bold;
    padding: 5px;
    color: white;
}
#main-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  height: 60vw;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 3%;
  border: 3px solid #7f32a8;
}
.main-box{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
}
.tasks-info{
  border-right: 3px solid #7f32a8;
  grid-area: 1/1/3/2;
}
.do-now-box{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.do-now-row{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #7f32a8;
  color: white;
  border-radius: 0 8px 8px 0;
}
.do-now-row span{
    font-size:x-large;
    font-weight: bold;
    padding: 5px;
}
@media (max-width: 784px) {
  .do-now-row {
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  .do-now-row span{
    font-size:large;
    font-weight: bold;
    color: white;
    padding: 5px;
}
.do-now-row h1{
    font-size:large;
    font-weight: bold;
    padding: 5px;
    color: white;
}
}
.task{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin:10px 20px 10px 20px;
  border-radius: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;

}
.startBtn{
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}
.doneBtn{
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}
.taskName{
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
}
.moveToDoNowBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moveToDoNowBtn{
  padding: 5px;
  background-color: #7f32a8;
  border-radius: 8px;
  color: white;
  font-size: medium;
  margin-top: 5px;
}
.moveToDoNowBox span{
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.5);
}
